api.seckernel.com {
    reverse_proxy backend:8000 {
        header_up X-Forwarded-Proto {scheme}
    }
    log {
        output file /var/log/caddy/api_access.log
    }
}

db.seckernel.com {
    reverse_proxy couchdb:5984 {
        header_up X-Forwarded-Proto {scheme}
    }
    log {
        output file /var/log/caddy/db_access.log
    }
}
