version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5001:8000"
    volumes:
      - ./backend:/app
    environment:
      - COUCHDB_URL=http://couchdb:5984
    depends_on:
      - couchdb

  couchdb:
    image: couchdb:3.3
    ports:
      - "5984:5984"
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=password
    volumes:
      - couchdb_data:/opt/couchdb/data

volumes:
  couchdb_data:
